html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	background-color: #F5F5F6;
	font-family: 'Open Sans', sans-serif;
}

#title {
	margin: 0;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #1e88e5;
	color: white;
}

#bar {
	background-color: #005cb2;
	padding: 10px;
}

#date {
	padding-left: 30px;
}

h2{
	padding: 0px;
	margin: 0px;
	padding-top: 5px;
}

/* Chart Layout */
.chart{
	width: 100%; 
	min-height: 95%;
}

.chart div {
	margin: 0px;
	padding: 0px;
}

.chart div svg{
	margin: 0px;
	padding: 0px;
}

/* Grid Layout */
.grid-container { height: 40%; margin-left: 10px;}

.grid-container * { 
 border-radius: 5px;
 position: relative;
 margin: 10px;
 background-color: #c1c5c9;
 width: auto;
}

.grid-container *:after { 
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100% 100%;
  grid-template-areas: "A C d" "B C e";
}

.A { grid-area: A; }

.B { grid-area: B; }

.C { grid-area: C; }

.d { grid-area: d; }

.e { grid-area: e; }




